@model SalasDeReuniones.usuario

@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">Login</h2>

<div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">

            @Html.LabelFor(model => model.Usuario1, "Usuario")
            @Html.TextBoxFor(model => model.Usuario1, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Usuario1)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contrasena, "Password")
            @Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.contrasena)
            @if (TempData["Mensaje"] != null)
            {
            <div class="alert alert-success">@TempData["Mensaje"]</div>
            }
            @if (TempData["Error"] != null)
            {
            <div class="alert alert-danger">@TempData["Error"]</div>
            }
        </div>

        <p><a href="@Url.Action("Recuperar", "Usuario")">¿Olvidaste tu contraseña?</a></p>

        <button type="submit" class="btn btn-primary">Iniciar sesión</button>

        <!-- Botón para redirigir al registro -->
        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Crear", "Usuario")'"> Regístrate</button>


    }

</div>
