@model SalasDeReuniones.sala
@{
    ViewBag.Title = "Eliminar Sala";
}

<h2>Eliminar Sala</h2>

<h3 class="text-danger">¿Está seguro que desea eliminar esta Sala?</h3>

<div>
    <h4>Sala</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(sala => sala.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(sala => sala.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(sala => sala.capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(sala => sala.capacidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(sala => sala.ubicacion)
        </dt>
        <dd>
            @Html.DisplayFor(sala => sala.ubicacion)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(sala => sala.IdSala)
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Atrás", "Index", "Sala")
    }
</div>
